<body>
  <!-- TODO #shell: keep this element -->
  <main class="welcome-cmp">
    <div class="container">
      <form id="start-form" class="form-signin card" novalidate>
        <div class="card-body">
          <div class="form-label-group mb-3">
            <label for="nickname">Nickname</label>
            <input id="nickname" autofocus class="form-control" type="text" name="name" required
              placeholder="Enter a nickname" pattern="[A-Za-z0-9]{3,20}" aria-describedby="nicknameHelp" />
            <small id="nicknameHelp" class="form-text text-muted">Any nickname with characters 3 to 20 alphanumeric
              charachers
            </small>

            <div class="invalid-feedback">
              <p>
                Player name must be alphanumerical and between 3 and 20
                characters.
              </p>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="size">Size</label>
            <input id="size" class="form-control" required type="number" min="1" max="10" name="size"
              placeholder="enter a size" aria-describedby="sizeHelp" />
            <small id="sizeHelp" class="form-text text-muted">how many pairs do you want to play with?
            </small>

            <div class="invalid-feedback">
              <p>Game size must be between 1 and 10.</p>
            </div>
          </div>

          <div class="text-right">
            <input class="btn btn-outline-primary" type="submit" value="Play" />
          </div>
        </div>
      </form>
    </div>
  </main>
  <script>
    // execute the controller
    var wc = new WelcomeComponent().init();
  </script>
</body>