.card-cmp {
  position: relative;
  display: inline-block !important;

  .card-wrapper {
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s;

    &:hover {
      cursor: pointer;
    }

    &:active {
      transform: scale(0.97);
      transition: transform 0.2s;
    }

    .front-face,
    .back-face {
      width: 100%;
      backface-visibility: hidden;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    }

    .front-face {
      transform: rotateY(180deg);
    }

    .back-face {
      position: absolute;
      top: 0;
    }

    &.flip {
      transform: rotateY(180deg);
    }
  }
}
